#novo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.formBody{
    padding: 20px;
    border:3.5px, solid, rgb(240, 97, 97);
    border-radius: 8px;
    background-color: #FF9A6C;
}
.elementosForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    
}
.botoesForm{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.campoForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}
.campoForm input{
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}
.btn_geral{
    background-color: grey;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
#frame{
    height: 15vw;
    width: 50vw;
}
body{
    background-image: url('https://www.pikpng.com/pngl/b/570-5703323_footer-png.png');
    background-size: 101% 100%;
    background-color: #c59a87;
    background-repeat: no-repeat;
}
#frame {
    background-color: white;
}