@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap'); /* VET font */
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap'); /* uniesp font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playball&display=swap'); /* Global font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


/* Header-CSS */


header {
    height: 9vh;
    width: 100%;
    box-shadow: 2px 2px 3px #444444e3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo {
    font-family: "Playball", cursive;
    font-size: 2.9rem;
    color: #00C4B4;
}

header h1 > a{
    color: #444444;
    text-decoration: none;
}

.header-menu {
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.menu {
    cursor: pointer;
    padding: 3vh 2.2vw;
    font-size: 1.3rem;
    transition: all .2s ease;
}

.menu-m3 {
    cursor: pointer;
    padding: 3vh 2.2vw;
    font-size: 1.3rem;
    transition: all .2s ease;
}

.menu:hover {
    border-bottom: .5px solid #00C4B4;
    color: #00C4B4;
}

.menu-m3:hover {
    border-bottom: .5px solid #00C4B4;
    color: #00C4B4;
}

.buscar-input {
    border-radius: 20px;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid #444444;
}

#search-input {
    border: none;
    margin-left: 10px;
    outline: none;
    
}

.buscar {
    cursor: pointer;
    position: relative;
    
}


.header-acount {
    height: 9vh;
    width: 11.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.header-acount span {
    font-size: 1.2rem;
    font-weight: 500;
    
}

@media (max-width: 1000px) {
    .header-menu {
        display: none;
    }

    .buscar-input {
        display: none;
    }

    .header-acount {
        display: none;
    }
}

@media (max-width: 1400px) {
    header {
        height: 9.6vh;
    }
}

.slide {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.slide-container {
    height: 60%;
    width: 80%;
    display: flex;
    overflow: hidden;
    
}

.slide-img {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    align-items: cen;
    
}

.slide-img img {
    width: 100vw;
    height: 60vh;
    
}

.slide button {
    padding: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.slide button img{
    height: 35px;
}

#pre-btn {
    rotate:calc(90deg);
}

#nxt-btn {
    rotate:calc(-90deg);
}

.ideia {
    height: 15vh;
    width: 100vw;
    background-color: #00c4b4be;
    color:  #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.76);
    overflow-x: hidden;
}

.clinica {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.hidden {
    opacity: 0;
    transform: translateY(100%); /* Movimento para baixo */
    transition: opacity 1s ease, transform 1s ease;
  }
  .visible {
    opacity: 1;
    transform: translateY(0);
  }


.footer {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222227;
}

.footer p {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}